.App {
  color: white;
}

/*Navigation Bar*/
.navbar {
  width: 90%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: lighter;
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  margin-left: 30px;
  color: white;
  transition: 500ms;
}

.navlink:hover {
  transform: scale(1.1, 1.1);
}

/*Home Page*/
.home {
  width: 90%;
  margin: 100px auto;
}

.home-title {
  font-size: 55px;
  text-align: center;
  margin-bottom: 0px;
}

.home-description {
  text-align: center;
  font-size: 18px;
}

.home-button {
  display: block;
  margin: auto;
  color: purple;
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 1s;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: purple;
}

.home-button:hover {
  transform: scale(1.2, 1.2);
}

.about {
  width: 90%;
  margin: 50px auto;
}

.poke {
  width: 90%;
  margin: 20px auto;
}